html {
  min-height: 100%;
}

body {
  background: rgb(32,0,240);
  background: linear-gradient(90deg, rgba(32,0,240,1) 0%, rgba(183,29,253,1) 50%, rgba(252,148,69,1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



.container {
  font-size: 40px;
  top: 15rem;
  left: 40rem;
  display: inline-block;
  background: rgba(255,255,255,0.2);
  padding: 2em;
  position: fixed;
  z-index: 1;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.05);
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 35px;
  font-size: 30px;
  
}

@media screen and (max-width: 1100px) {
  .test {
      font-size: calc(10px + 1vw);
      width: 50%;
      height: 50%;
      line-height: 25px;
  }   
}


.description {
  text-transform: capitalize;
}

.flex {
  display: flex;
}


.description {
  margin-top: 2.5rem;
}

.search-bar {
  height: 50px;
  width: 30rem;
  padding: 1em;
  background: rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 50px;
  outline: none;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 1100px) {
  .search-bar {
    width: 80%;
  }   
}

::placeholder {
  color: rgb(207, 207, 207);
}


.fas {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .fa-search:before {
      font-size: 30px;

  }   
}
