body {
    background-image:url(assets/web19201.png);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}



.container {
  font-size: 40px;
  top: 15rem;
  left: 40rem;
  display: inline-block;
  background: rgba(255,255,255,0.2);
  padding: 2em;
  position: fixed;
  z-index: 1;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.05);
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 35px;
  font-size: 30px;
  
}

.description {
  text-transform: capitalize;
}

.flex {
  display: flex;
}


.description {
  margin-top: 2.5rem;
}



.web19201 .ellipse1 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: transparent;
      box-shadow: none;
      width: 497.00px;
    height: 497.00px;
    left: 1128.00px;
    top: 206.00px;

}

.web19201 .ellipse2 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: transparent;
      box-shadow: none;
      width: 196.00px;
    height: 196.00px;
    left: 296.00px;
    top: 514.00px;

}

.search-bar {
  height: 50px;
  width: 30rem;
  padding: 1em;
  background: rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 50px;
  outline: none;
  font-size: 20px;
  color: white;
}

::placeholder {
  color: rgb(207, 207, 207);
}


.fas {
  cursor: pointer;
}
